[submodule "modules/third-party/stb"]
	path = modules/third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/dropbear"]
	path = modules/third-party/dropbear
	url = https://github.com/mkj/dropbear
[submodule "third-party/jq"]
	path = modules/third-party/jq
	url = https://github.com/jqlang/jq
[submodule "third-party/gesftpserver"]
	path = modules/third-party/gesftpserver
	url = https://github.com/ewxrjk/sftpserver
[submodule "third-party/dufs"]
	path = modules/third-party/dufs
	url = https://github.com/sigoden/dufs
[submodule "third-party/evtest"]
	path = modules/third-party/evtest
	url = https://github.com/freedesktop-unofficial-mirror/evtest
[submodule "modules/gluons"]
	path = modules/gluons
	url = https://github.com/cobaltgit/Quark-Gluons
