[submodule "third-party/dropbear"]
	path = third-party/dropbear
	url = https://github.com/mkj/dropbear
[submodule "third-party/jq"]
	path = third-party/jq
	url = https://github.com/jqlang/jq
[submodule "third-party/gesftpserver"]
	path = third-party/gesftpserver
	url = https://github.com/ewxrjk/sftpserver
[submodule "third-party/dufs"]
	path = third-party/dufs
	url = https://github.com/sigoden/dufs
[submodule "third-party/evtest"]
	path = third-party/evtest
	url = https://github.com/freedesktop-unofficial-mirror/evtest
